In [3]:
import json

In [4]:
filename = "cms-sites.json"
f = open(filename)
sites = json.load(f)

In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame.from_dict(sites, orient='index')

In [10]:
df.index.name = "Site"
df = df[['state', 'country', 'facility', 'status', 'tier_level']]

In [11]:
df

,state,country,facility,status,tier_level
Site,,,,,
T0_CH_CERN,ACTIVE,Switzerland,CH_CERN,test,0
T0_CH_CSCS_HPC,ACTIVE,Switzerland,CH_CSCS,production,0
T1_DE_KIT,ACTIVE,Germany,DE_KIT,production,1
T1_ES_PIC,ACTIVE,Spain,ES_PIC,production,1
T1_FR_CCIN2P3,ACTIVE,France,FR_CCIN2P3,production,1
...,...,...,...,...,...
T3_US_UMD,ACTIVE,United States,US_UMD,production,3
T3_US_UMiss,ACTIVE,United States,US_UMiss,production,3
T3_US_UVA,ACTIVE,NULL,US_UVA,test,3
T3_US_VC3_NotreDame,ACTIVE,NULL,US_VC3_NotreDame,production,3
T3_US_Vanderbilt_EC2,ACTIVE,United States,US_Vanderbilt,test,3

In [13]:
import csv
df.to_csv("CMS Site list.csv", index_label="Site", quotechar='"', quoting=csv.QUOTE_ALL)